aclocal.m4
Makefile
Makefile.in
configure
build-aux
autom4te.cache
.version
.tarball-version
*.tar.gz
*.tar.bz2
mgsim-*
config.log
config.status
*.bin
*.out
*~
*.log
*.rej
*.orig
*#*#
sys_config.h.in

*.*-bin*
tests/mtsparc/fft/fft_lookup_[ou].s
.deps/
.dirstamp
*.toc
*.aux
*.pdf
*.7
*.1
viewlog
readtrace
mgsim
stamp-h1
sys_config.h
nobounds.ini
